$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-third: 'Rosario', sans-serif;

$weight-bold:bold;
$weight-extrabold:800;
$weight-semibold:600;
$weight-light:300;
$weight-normal:normal;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Light.eot');
    src: url('../../public/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Light.woff') format('woff'),
        url('../../public/fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-SemiBold.eot');
    src: url('../../public/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../../public/fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Regular.eot');
    src: url('../../public/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Regular.woff') format('woff'),
        url('../../public/fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Bold.eot');
    src: url('../../public/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Bold.woff') format('woff'),
        url('../../public/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}




// @font-face {
//     font-family: 'Open Sans';
//     src: url('../../public/fonts/OpenSans-ExtraBoldItalic.eot');
//     src: url('../../public/fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('../../public/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
//         url('../../public/fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
//         url('../../public/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
//         url('../../public/fonts/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
//     font-weight: 800;
//     font-style: italic;
// }

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-SemiBold.eot');
    src: url('../../public/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../../public/fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Bold.eot');
    src: url('../../public/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Bold.woff') format('woff'),
        url('../../public/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'Open Sans';
//     src: url('../../OpenSans-BoldItalic.eot');
//     src: url('../../OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('../../OpenSans-BoldItalic.woff2') format('woff2'),
//         url('../../OpenSans-BoldItalic.woff') format('woff'),
//         url('../../OpenSans-BoldItalic.ttf') format('truetype'),
//         url('../../OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
//     font-weight: bold;
//     font-style: italic;
// }

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Light.eot');
    src: url('../../public/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Light.woff') format('woff'),
        url('../../public/fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-ExtraBold.eot');
    src: url('../../public/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('../../public/fonts/OpenSans-ExtraBold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat-ExtraBold.eot');
    src: url('../../public/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../../public/fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../../public/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../../public/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Rosario';
    src: url('../../public/fonts/Rosario-Regular.eot');
    src: url('../../public/fonts/Rosario-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Rosario-Regular.woff2') format('woff2'),
        url('../../public/fonts/Rosario-Regular.woff') format('woff'),
        url('../../public/fonts/Rosario-Regular.ttf') format('truetype'),
        url('../../public/fonts/Rosario-Regular.svg#Rosario-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}