.section {
    &--sub-banner {
        height: 470px;
        position: relative;
        @media (max-width:1600px) {
            height: 400px;
        }
        @media (max-width:1366px) {
            height: 340px;
        }
        &__content {
            z-index: 10;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 25px 0;
            background-color: $color-white;
            min-width: 510px;
            font-weight: 700;
            text-transform: uppercase;
            color: #081222;
            @media (max-width:1600px) {
                min-width: 400px;
            }

            @media (max-width:1366px) {
                min-width: 300px;
            }
            

            @media (max-width:991px) {
                padding: 15px 0;
            }

            @media (max-width:500px) {
                min-width: 200px;
            }
            h1 {
                font-size: 50px;
                font-weight: $weight-bold;
                margin-left: 9vw;
                @media (max-width:1600px) {
                    font-size: 40px;
                }

                @media (max-width:1366px) {
                    margin-left: 5vw;
                }

                @media (max-width:567px) {
                    font-size: 35px;
                }
            }
            &:before {
                z-index: -1;
                content: "";
                width: 190px;
                height: 0;
                position: absolute;
                bottom: 0;
                right: -100px;
                border-bottom: 117px solid $color-white;
                border-right: 100px solid transparent;
                @media (max-width:1600px) {
                    border-bottom: 106px solid #f5f6f8 !important;
                }

                @media (max-width:991px) {
                    width: 100px;
                    border-bottom: 86px solid #f5f6f8 !important;
                }

                @media (max-width:567px) {
                    border-bottom: 80px solid #f5f6f8 !important;
                }
                
            }
        }
    }
}