.btn {
    &--primary {
        min-width: 180px;
        background: $color-primary;
        border: 1px solid $color-white;
        color: $color-white;
        padding: 8px 44px;
        font-family: $font-primary;
        font-weight: normal;
        border-radius: 40px;
        font-size: 16px;
        text-align: center;
        @include transition(.5s);
        text-decoration: none !important;
        @media (max-width:991px) {
            min-width: 120px;
            font-size: 14px;
            padding: 8px 25px;
        }
        &:hover {
            color: $color-primary;
            border: 1px solid $color-primary;
            background: $color-white;
        }   
    }

    &--white {
        background: $color-white;
        border: 2px solid $color-primary;
        color: #333333;
        padding: 8px 44px;
        font-family: $font-primary;
        font-weight: normal;
        border-radius: 40px;
        font-size: 16px;
        text-align: center;
        @include transition(.5s);
        text-decoration: none !important;
        @media (max-width:991px) {
            font-size: 14px;
            padding: 8px 25px;
        }
        &:hover {
            background: $color-primary;
            border: 2px solid transparent;
            color: $color-white;
        }
    }
    &--learnmore {
        position: relative;
        font-size: 20px;
        color: $color-white;
        &:hover {
            color: $color-white;
            &:before {
                right: -45px;
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            right: -60px;
            height: 26px;
            width: 19px;
            background-image: url('../../public/img/learn-more-icon.png');
            background-size: 19px 26px;
            background-repeat: no-repeat;
            background-position: center;
            @include transition(300ms);
        }
    }
    &--scroll-down {
        color: $color-white;
        background-color: $color-navy;
        border: 1px solid $color-white;
        padding: 5px 12px;
        border-radius: 100%;
        &:hover {
            background-color: $color-darkred;
            @include transition(0.5s);
            color: $color-white;
        }
    }
    &--view {
        position: relative;
        font-size: 18px;
        font-weight: $weight-semibold;
        text-transform: uppercase;
        margin-top: 10px;
        padding: 0 50px 0 0;
        @include transition(.4s);
        &:hover {
            color: $color-primary;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 25px;
            width: 22px;
            background-size: 22px 25px;
            background-image: url('../../public/img/view-all-icon.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &--back {
        position: relative;
        font-size: 18px;
        font-weight: $weight-semibold;
        text-transform: uppercase;
        padding: 0 0 0 35px;
        @include transition(.4s);
        &:hover {
            color: $color-primary;
        }
        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            height: 18px;
            width: 13px;
            background-size: 13px 18px;
            background-image: url('../../public/img/back_icon.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &--next {
        position: relative;
        font-size: 18px;
        font-weight: $weight-semibold;
        text-transform: uppercase;
        padding: 0 35px 0 0;
        @include transition(.4s);
        &:hover {
            color: $color-primary;
        }
        &:after {
            content: "";
            position: absolute;
            top: 5px;
            right: 0;
            height: 18px;
            width: 13px;
            background-size: 13px 18px;
            background-image: url('../../public/img/back_icon.png');
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(180deg);
        }
    }
    &--header {
        display: inline-block;
        border: 1px solid #c4c4c4;
        color: #0b476c;
        font-weight: 600;
        padding: 14px 0;
        width: 100%;
        &:hover {
            background: $color-primary;
            color: $color-white;
        }
    }
    &--gray{
        background: $color-white;
        border: 1px solid #9a9a9a;
        color: #9a9a9a;
        padding: 8px 44px;
        font-family: $font-primary;
        font-weight: normal;
        border-radius: 40px;
        font-size: 16px;
        text-align: center;
        @include transition(.5s);
        text-decoration: none !important;
        &:hover {
            background: $color-primary;
            border: 1px solid transparent;
            color: $color-white;
        }
    }
}