$footer-bottom-color:#3a6b88;
$footer-text-muted:#adadad;
.footer {
    // overflow: hidden;
    position: relative;
    padding: 45px 0 40px;
    border-top: 6px solid #edecea;

    &__menu {
        margin-bottom: 30px;
        @media (max-width:767px) {
            margin-bottom: 0;
        }
        ul {
            @media (max-width:767px) {
                padding: 0;
            }
            li {
                position: relative;
                display: inline-block;
                padding: 0 25px;
                margin-bottom: 20px;
                @media (max-width:991px) {
                    padding: 0 15px;
                }
                &:not(:last-child):before {
                    content: "|";
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: normal;
                    color: $color-white;
                }
                a {
                    font-size: 16px;
                    font-weight: $weight-semibold;
                    color: $color-white;
                    @include transition(300ms);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }


    &__contact {
        img {
            &.logo {
                display: block;
                max-width: 188px;
                margin: 0 auto 18px;
                @media (max-width:575px) {
                    max-width: 140px;
                }
            }

            &.text-logo {
                margin-bottom: 25px;
            }
        }
        p {
            position: relative;
            font-size: 18px;
            color: #fff;
            @media (max-width:767px) {
                font-size: 16px;
                margin-bottom: 30px;
            }
            &.description {
                max-width: 315px;
                margin-bottom: 58px;
                @media (max-width:767px) {
                    margin-bottom: 30px;
                }
            }
            &.contact-number,
            &.email-address {
                padding-left: 75px;
                margin-bottom: 38px;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            &.contact-number:before {
                top: -10px;
                width: 57px;
                height: 47px;
                background-image: url('../../public/img/phone-icon.png');
                background-size: 57px 47px;
            }
            &.email-address:before {
                top: -4px;
                left: 6px;
                width: 46px;
                height: 32px;
                background-image: url('../../public/img/email-icon.png');
                background-size: 46px 32px;
            }
        }

        .social-icons {
            margin-top: 15px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    padding-right: 20px;
                    a {
                        font-size: 32px;
                        color: $color-white;
                        @media (max-width:767px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .info {
            padding-left: 100px;
            @media (max-width:767px) {
                padding-left: 15px;
            }

            @media (max-width:575px) {
                margin-bottom: 20px;
            }
        }
        .form {
            ::-webkit-input-placeholder { color: #333333; }
            :-ms-input-placeholder { color: #333333; }
            ::placeholder { color: #333333; }
            h2 {
                color: $color-white;
                text-transform: uppercase;
                margin-bottom: 40px;
                @media (max-width:767px) {
                    font-size: 28px;
                    margin-bottom: 20px;
                }
            }

            .control {
                margin-bottom: 20px;
                input[type="text"],
                input[type="email"],
                textarea {
                    width: 100%;
                    background-color: $color-white;
                    font-size: 16px;
                    padding: 10px 15px;
                    color: #333333;
                    border-bottom: 1px #d8d9d9 solid;
                }

                textarea {
                    min-height: 95px;
                }

                input[type="submit"] {
                    min-width: 140px;
                    height: 45px;
                    background-color: #0257ab;
                    font-size: 16px;
                    color: $color-white;
                    border: 1px $color-white solid;
                    border-radius: 20px;
                    @include transition(300ms);
                    &:hover {
                        background-color: $color-white;
                        color: #303030;
                    }
                }
            }
        }
    }
    &__copyright {
        padding: 25px 0;
        p {
            font-size: 14px;
            color: #333333;
            margin: 0;
        }
    }
}

/* Scroll to top link */

#to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 6px 15px;
    font-size: 20px;
    text-align: center;
    color: $color-white;
    background-color: #777;
    opacity: 0.25;
    filter: alpha(opacity=25);
    z-index: 999;
}

#to-top:hover {
    color: $color-white;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

#to-top:hover {
    background-color: #1bbae1;
}