.contact-form {
    padding: 35px 35px;
    max-width: 490px;
    @include border-radius(0);
    .row {
        div {
            padding: 0;
        }
    }
    h2 {
        font-size: 40px;
        font-weight: $weight-bold;
        
    }
    p {
        font-size: .9em;
        font-style: italic;
        color: $color-gray;
    }
    ul {
        margin: 0;
        padding: 0;
        &.form-box {
            
            .form-group {
                padding: 10px !important;
                box-sizing: border-box;
                select,
                input,
                textarea {
                    border: 0;
                    padding: 15px;
                    @include border-radius(0);
                    padding: 15px;
                    border-bottom: 1px solid #ddd6;
                }
                select {
                    width: 100%;
                    color: #7a7a7a;
                    text-transform: capitalize;
                    padding: 0px 15px;
                }

                button.btn.btn--primary {
                    display: inline-block;
                    width: 100%;
                    background: $color-primary;
                    border: 1px solid $color-white;
                    padding: 10px 40px;
                    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }
    }
}

.form-section {
    .row {
        margin: 0;
    }
    .form-box {
        >div {
            margin-bottom: 0 !important;
        }
        .form-group {
            padding: 10px !important;
            box-sizing: border-box;
            &.show-label {
                label {
                    display: block;
                }
                li.custom-checkbox__item:before {
                    display: none;
                }
            }
            select,
            input,
            textarea {
                @include border-radius(5px);
                padding: 15px;
                border-radius: 1px solid #ddd;
                height: 60px;
            }
            select {
                width: 100%;
                color: #7a7a7a;
                text-transform: capitalize;
                padding: 0px 15px;
            }
            
        }
    }
}

