// Control settings
$header-height:80px;
$header-scrolling-height:80px;
$header-background:transparent;
header {
    z-index: 99;
    position: relative;
    width: 100%;
    height: $header-height;
    padding: 0;
    background-image: url('../../public/img/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 6px solid #edecea;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    @media (max-width: 1055px) {
        height: 70px;
    }
    &.scrolling {
        position: fixed !important;
        height: $header-scrolling-height;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        -webkit-box-shadow: 1px 0 5px 1px rgba(0, 0, 0, .6);
        box-shadow: 1px 0 5px 1px rgba(0, 0, 0, .6);
        @media only screen and (max-width:1055px) {
            height: 70px;
        }
    }
    /* Medium devices (tablets, 768px and up) 
    The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
            border-radius: 0;
        }
    }

    .main-nagivation-desktop {
        width: 100%;
        .logo-link {
            .logo {
                max-width: 108px;
            }

            .text-logo {
                display: inline-block;
                max-width: 274px;
                margin-left: 16px;
                margin-bottom: 20px;
            }
        }
        .menu {
            ul {
                // margin: 25px 0;
                li {
                    display: inline-block;
                    padding: 25px 20px;
                    @media (max-width:1200px) {
                        padding: 25px 10px;
                    }

                    &.dropdown { 
                        & > a {
                            position: relative;
                            &:after {
                                content: '\f078';
                                position: absolute;
                                top: 5px;
                                right: -13px;
                                font-family: "Font Awesome 5 Free";
                                font-weight: bold;
                                font-size: 8px;
                            }
                        }

                        div {
                            &.dropdown-menu {
                                ul {
                                    padding: 0;
                                    li {
                                        display: block;
                                        padding: 0 !important;
                                        a {
                                            &:hover {
                                                background-color: $color-white;
                                                color: $color-primary;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a {
                        font-size: 16px;
                        color: $color-white;
                        &.btn-contact {
                            color: #0e2c53;
                            background-color:   $color-white;
                            padding: 10px 20px;
                            border-radius: 20px;
                            box-shadow: 0px 0px 3px #2b2a2a;
                            @include transition(300ms);
                            &:hover {
                                background-color:#0d325c;
                                color: $color-white;
                                text-decoration: none;
                            }
                        }
                    }

                    &.dropdown {
                        .dropdown-menu {
                            background-color: $color-primary;
                            width: 260px;
                            left: 50%;
                            transform: translate(-50%, -1px);
                        }
                    }
                }
            }
        }
    }
}
