body {
    overflow-x: hidden;
}

a {
    color: inherit;
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
        color: inherit;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: 0;
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.relative {
    position: relative;
}

strong {
    &.heading {
        position: absolute;
        top: 86px;
        left: -105px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #b2b2b2;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        letter-spacing: 5px;
        @media(max-width: 1440px) {
            left: -85px;
        }
        @media(max-width: 1380px) {
            left: -60px;
        }
        @media(max-width:1366px) {
            display: block;
            position: relative;
            left: 0;
            top: 0;
            writing-mode: initial;
            text-orientation: initial;
            font-size: 20px;
            margin-bottom: 10px;
        }
        @media(max-width:991px) {
            font-size: 18px;
        }
    }
}