.section {
    &--sub-banner {
        &__content {
            background-color: #f5f6f8;
            &:before {
                border-bottom: 117px solid #f5f6f8;
            }
        }
    }
    &--tabs {
        padding: 60px 0;
        background-color: #f5f6f8;
        @media (max-width:991px) {
            padding: 40px 0 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 10px;
                margin-bottom: 18px;
                a {
                    font-size: 16px;
                    padding: 14px 42px;
                    @media (max-width:640px) {
                        padding: 10px 25px;
                    }
                    &:hover,
                    &.active {
                        font-weight: $weight-semibold;
                        color: $color-primary;
                        height: 48px;
                        background-color: #e6e8ea;
                        border-radius: 50px;
                    }
                }
            }
        }
    }

    &--who-we-are {
        padding: 55px 0 145px;
        @media (max-width:991px) {
            padding: 50px 0 120px;
        }
        &__content {
            position: relative;
            &-text,
            &-img {
                width: 50%;
                @media (max-width:1280px) {
                    width: 100%;
                    float: initial;
                }
            }

            &-text {
                max-width: 540px;
                margin-left: 15vw;
                @media (max-width:1660px) {
                    margin-left: 10vw;
                }

                @media (max-width:1366px) {
                    margin-left: 0;
                    padding-left: 20px;
                }

                @media (max-width:1280px) {
                    max-width: 100%;
                    padding: 0 20px;
                }
                strong {
                    &.heading {
                        top: 0;
                        left: 9vw;
                        @media (max-width:1660px) {
                            left: 5vw;
                        }

                        @media(max-width:1366px) {
                            position: relative;
                            left: 0;
                            top: 0;
                        }
                    }
                }

                h2 {
                    font-weight: $weight-bold;
                    margin-bottom: 26px;
                    @media (max-width:991px) {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                    @media (max-width:767px) {
                        font-size: 28px;
                    }
                }

                p {
                    font-size: 18px;
                    color: #9a9a9a;
                    @media (max-width:991px) {
                        font-size: 16px;
                    }
                    &.position {
                        font-weight: $weight-semibold;
                        text-transform: uppercase;
                        color: $color-black;
                    }
                }

                img {
                    &.signature {
                        mix-blend-mode: multiply;
                    }
                }
            }

            &-img {
                position: relative;
                min-height: 635px;
                @media (max-width:1440px) {
                    min-height: auto;
                    max-width: 800px;
                    margin: 25px auto 0;
                    padding: 0 20px 50px;
                }
                .img_1 {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 630px;
                    width: 645px;
                    @media (max-width:1440px) {
                        height: 530px;
                        width: 80%;
                    }
                }
                .img_2 {
                    position: relative;
                    top: 66px;
                    left: 0;
                    max-width: 785px;
                    height: 500px;
                }
                .img_3 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &--timeline {
        ul {
            z-index: 12;
            position: relative;
            top: 28px;
            left: 0;
            font-size: 0;
            padding: 0;
            margin: 0;
            list-style: none;
            li { 
                display: inline-block;
                a {
                    font-size: 18px;
                    color: $color-black;
                    padding: 50px 20px 20px 20px;
                    background-color: #ebebeb;
                }
            }
        }
        &-slider {
            background-image: url('../../public/img/about-timeline-bg.jpg');
            padding: 50px 0;
            .relative {
                padding: 30px;
                img {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }

    &--safety-first {
        padding: 185px 0;
        position: relative;
        @media(max-width:1440px) {
            padding: 100px 0;
        }
        @media(max-width:991px) {
            padding: 50px 0;
        }
        &__content {
            &-img {
                width: 50%;
                padding-left: 10vw;
                @media(max-width:1440px) {
                    padding-left: 50px;
                }

                @media (max-width:1280px) {
                    padding-left: 20px;
                }

                @media (max-width:991px) {
                    width: 100%;
                    padding: 0 20px;
                }
                .img_1 {
                    position: absolute;
                    left: 0;
                    top: 115px;
                    width: 645px;
                    height: 635px;
                    pointer-events: none;
                    @media (max-width:1660px) {
                        width: 540px;
                        height: 530px; 
                    }

                    @media(max-width:1440px) {
                        width: 400px;
                        height: 400px; 
                    }

                    @media(max-width:1280px) {
                        display: none;
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    // &:before {
                    //     content: "";
                    //     position: absolute;
                    //     bottom:0;
                    //     right: 0;
                    //     width: 250px;
                    //     height: 170px;
                    //     background-color: #ffffff;
                    // }

                    // &:after {
                    //     content: "";
                    //     position: absolute;
                    //     bottom: 0;
                    //     left: 15vw;
                    //     width: 200px;
                    //     height: 170px;
                    //     border-bottom: 117px solid #ffffff;
                    //     border-left: 100px solid transparent;
                    // }
                }

                .img_2 {
                    z-index: 1;
                    position: relative;
                    img {
                        box-shadow: 7.88px 6.157px 20px 0px rgba(0, 0, 0, 0.15);
                        @media (max-width:991px) {
                            width: 100%;
                            object-fit: cover;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            &-text {
                width: 50%;
                padding-left: 90px;
                padding-right: 15vw;
                @media(max-width:1440px) {
                    padding-left: 50px;
                    padding-right: 20px;
                }

                @media (max-width:991px) {
                    width: 100%;
                    padding: 0 20px;
                }
                
                h2 {
                    font-weight: $weight-bold;
                    margin-bottom: 26px;
                    @media (max-width:991px) {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                    @media (max-width:767px) {
                        font-size: 28px;
                    }
                }

                p {
                    font-size: 18px;
                    color: #9a9a9a;
                    @media (max-width:991px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}