.section {
    &--links {
        z-index: 2;
        position: relative;
        padding: 16px 0;
        box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 20%);
        .wrapper_1500 {
            // max-width: 1500px;
            // margin: 0 auto;
            margin-left: 9vw;
            @media(max-width: 567px) {
                margin: 0 15px;
            }
        }
        &__content {
            margin-bottom: 20px;
            &-item {
                border-right: 1px solid #c4c4c4;
                padding-left: 50px;
                padding-top: 36px;
                padding-bottom: 21px;
                @media (max-width:1600px) {
                    padding-top: 20px;
                    padding-bottom: 0;
                }

                @media(max-width: 991px) {
                   padding-left: 15px !important;
               }
                &:first-child {
                    padding-left: 15px;
                }
                &:last-child {
                    border-right: none;
                }

                &.phone,
                &.email {
                   @media(max-width: 991px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                   }

                   @media(max-width: 480px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }

                &.address {
                    .text {
                        &:last-child {
                            @media(max-width: 480px) {
                                margin-left: 50px;
                                margin-top: 12px;
                           }
                        }
                    }
                }
                h3 {
                    position: relative;
                    font-size: 26px;
                    margin-bottom: 16px;
                    @media (max-width:1600px) {
                        font-size: 22px;
                    }
                    span {
                        &.line {
                            display: inline-block;
                            height: 2px;
                            width: 44px;
                            background-color: #2c2e35;
                            margin-left: 10px;
                            vertical-align: middle;
                            @media(max-width: 567px) {
                                width: 20px;
                            }
                        }
                    }
                }
                img,
                .text {
                    display: inline-block;
                    vertical-align: top;
                    // @media (max-width:1280px) {
                    //     display: block;
                    // }

                    // @media (max-width:991px) {
                    //     display: inline-block;
                    // }
                }

                img {
                    margin-top: 12px;

                }

                .text {
                    margin-left: 18px;
                    @media(max-width: 567px) {
                        margin-left: 8px;
                    }
                    span {
                        font-size: 20px;
                        text-transform: uppercase;
                        color: #9a9a9a;
                        @media (max-width:1600px) {
                            font-size: 16px;
                        }
                    }
                    p {
                        // max-width: 190px;
                        font-size: 20px;
                        color: $color-black;
                        margin: 0;
                        @media (max-width:1600px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    &--contact-info {
        background-color: #f5f6f8;
        &__content {
            .floatLeft {
                z-index: 1;
                position: relative;
                float: left;
                width: 55%;
                min-height: 840px;
                background-color: #f5f6f8;
                padding-top: 5.3%;
                padding-right: 110px;
                padding-left: 20vw;
                box-shadow: 10px 2px 5px -6px rgba(0,0,0,0.2);
                @media (max-width:1600px) {
                    padding-left: 12vw;
                    padding-right: 60px;
                }

                @media(max-width:1366px) {
                    padding-left: 50px;
                }

                @media (max-width:991px) {
                    width: 100%;
                    min-height: auto;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                strong {
                    &.heading {
                        z-index: 2;
                        top: 106px;
                        left: 15vw;
                        @media (max-width:1600px) {
                            left: 6vw;
                        }
                        @media(max-width:1366px) {
                            position: relative;
                            left: 0;
                            top: 0;
                        }
                        @media (max-width:991px) {
                            display: none;
                        }
                    }
                }

                p {
                    max-width: 500px;
                    font-size: 16px;
                    color: #9a9a9a;
                    @media (max-width:991px) {
                        max-width: 100%;
                    }
                }

                .contact-form {
                    @media (max-width:991px) {
                        margin: 0 auto;
                    }
                    label {
                        position: absolute;
                        top: 16px;
                        left: 30px;
                        font-weight: $weight-semibold;
                        @include transition(300ms);
                    }

                    select,
                    input,
                    textarea {
                        &:focus {
                            box-shadow: none;
                            &~label {
                                z-index: 3;
                                top: 2px;
                                font-size: 12px;
                                font-weight: normal;
                                background-color: $color-white;
                                padding: 0 5px;
                                box-shadow: none;
                            } 
                        }
    
                        &:valid {
                            &~label {
                                z-index: 3;
                                top: 2px;
                                font-size: 12px;
                                background-color: $color-white;
                                padding: 0 5px;
                            } 
                        }
                    }
                }
            }

            .floatRight {
                position: relative;
                float: right;
                width: 45%;
                min-height: 840px;
                @media (max-width:991px) {
                    width: 100%;
                    min-height:450px;
                }
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}