.homepage {
    /* Hero */
.hero { position: relative; }

.hero .hero-slider { margin-bottom: 0;}

.hero .flex {
    height: calc(100vh - 88px);
    align-items: center;
    @media (max-width:1440px) {
        height: 560px;
    }
    @media (max-width:1366px) {
        height: 500px;
    }

    @media (max-width:991px) {
        height: 450px;
    }

    .caption {
        @media (max-width:767px) {
            padding: 0 20px;
        }
    }
}

.hero h1 {
    max-width: 700px;
    font-size: 50px;
    font-weight: $weight-bold;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    text-transform: uppercase;
    line-height: 68px;
    margin: 0 auto 50px;
    @media (max-width:1440px) {
        font-size: 45px;
        line-height: 55px;
        margin: 0 auto 30px;
    }
    @media (max-width:1366px) {
        font-size: 40px;
        line-height: 68px;
    }

    @media (max-width:991px) {
        font-size: 35px;
        line-height: 46px;
        margin: 0 auto 20px;
    }
    
}

.hero .slick-dots { display: none !important; }

.hero-slide-navigation .arrow {
    position: absolute;
    top: 45%;
    padding: 20px 10px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    transition: all 300ms ease-in-out;
    &.hero-prev {
        &:hover {
            padding-left: 10px;
        }
    }
    &.hero-next {
        &:hover {
            padding-right: 10px;
        }
    }
    &:hover {
        padding: 0;
        img {
            opacity: 1;
            width: 80px;
            height: 80px;
        }
        .arrow-prev_img {
            margin-left: 10px;
        }
    
        .arrow-next_img {
            margin-right: 10px;
        }
    }
    img {
        opacity: 0;
        width: 0;
        height: 0;
        object-fit: cover;
        transition: all 300ms ease-in-out;
        border-radius: 3px;
    }

    .arrow-prev_img,
    .arrow-next_img {
        display: inline-block;
    }

    
}

.hero-slide-navigation .arrow.hero-prev { left: 0; }
.hero-slide-navigation .arrow.hero-next { right: 0; }
    //  SERVICES
    .section {
        &--services {
            .list-of-services {
                position: relative;
                box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
                &--item {
                    padding: 40px;
                    border-right: 1px solid #6d6c6b;
                    max-height: 180px;
                    overflow: hidden;
                    @media (max-width:1366px) {
                        max-height: 100%;
                        padding: 40px 25px;
                    }

                    @media (max-width:1280px) {
                        flex: 0 0 33.33%;
                        max-width: 33.33%;
                        border-bottom: 1px solid #6d6c6b;
                    }

                    @media (max-width:767px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }

                    @media (max-width:500px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding: 40px;
                        border-right: none;
                    }
                    &:hover {
                        background-color: #2b5ba7; 
                        background-image: linear-gradient(#2b5ba7, #183058);
                        h3 {
                            color: $color-white;
                            span {
                                &.line {
                                    background-color: $color-white !important;
                                }
                            }
                        }
                        p {
                            display: none;
                        }

                        .btn--white {
                            display: inline-block  !important;
                            margin-top: 12px;
                        }
                    }
                    .content {
                        h3 {
                            display: inline-block;
                            @media (max-width:1660px) {
                                font-size: 22px;
                            }

                            @media (max-width:1440px) {
                                font-size: 20px;
                            }
                            span {
                                &.line {
                                    display: inline-block;
                                    height: 2px;
                                    width: 30px;
                                    background-color: #2c2e35;
                                    vertical-align: middle;
                                    @media (max-width:1440px) {
                                        width: 20px;
                                    }

                                    @media (max-width:991px) {
                                        width: 15px;
                                    }
                                }
                            }
                        }
                        p {
                            height: 45px;
                            font-size: 16px;
                            color: #9a9a9a;
                            overflow: hidden;
                        }

                        .btn--white {
                            display: none;
                            font-size: 14px;
                            color: $color-white;
                            background-color: transparent;
                            border: 1px solid $color-white;
                        }
                    }
                }
            }
        }

        &--about {
            padding-top: 100px;
            @media (max-width:991px) {
                padding-top: 50px;
            }
            &-content {
                position: relative;
                .heading {
                    top: 0;
                }

                h2 {
                    max-width: 980px;
                    font-size: 50px;
                    margin-bottom: 18px;
                    @media (max-width:1440px) {
                        font-size: 45px;
                    }
                    @media (max-width:1366px) {
                        font-size: 40px;
                    }
                
                    @media (max-width:991px) {
                        font-size: 35px;
                        margin-bottom: 15px;
                    }
                }

                p {
                    color: #9a9a9a;
                    margin-bottom: 30px;
                }

                figure {
                    position: relative;
                    margin-bottom: 40px;
                    &.left-image {
                        height: 500px;
                        @media (max-width:767px) {
                            height: 400px;
                        }
                    }
                    &.right-image {
                        height: 380px;
                        @media (max-width:767px) {
                            height: 300px;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @media (max-width:767px) {
                            width: 100%;
                        }
                    }
                }
                span {
                    &.caption {
                        z-index: 1;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 25px;
                        background-color: #f5f6f8;
                        min-width: 135px;
                        font-size: 24px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #081222;
                        &:before {
                            z-index: -1;
                            content: "";
                            width: 190px;
                            height: 0;
                            position: absolute;
                            bottom: 0;
                            left: -12px;
                            border-bottom: 85px solid #f5f6f8;
                            border-right: 43px solid transparent;
                        }
                    }
                    
                }

                .btn { margin-right: 20px; margin-bottom: 10px; }
            }
        }

        &--projects {
            .project--lists {
                .heading {
                    max-width: 1500px;
                    margin: 0 auto;
                    padding: 0 15px;
                    @media (max-width:991px) {
                        margin-bottom: 25px;
                    }
                    h2 {
                        display: inline-block;
                        position: relative;
                        font-size: 40px;
                        font-weight: $weight-bold;
                        margin-bottom: 35px;
                        @media (max-width:991px) {
                            margin-bottom: 0;
                            font-size: 35px;
                        }

                        @media (max-width:767px) {
                            font-size: 30px;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            top: 19px;
                            right: -250px;
                            width: 210px;
                            height: 2px;
                            background-color: #0257ab;
                        }
                    }

                    ul {
                        z-index: 12;
                        position: relative;
                        top: 28px;
                        left: 0;
                        font-size: 0;
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        @media (max-width:991px) {
                            top: 80px;
                        }
                        li { 
                            display: inline-block;
                            a {
                                font-size: 18px;
                                color: $color-black;
                                &.project-next,
                                &.project-prev {
                                    padding: 50px 20px 20px 20px;
                                    background-color: #ebebeb;
                                }
                            }
                        }
                    }
                }

                .project--slider {
                    padding: 0;
                    .slick {
                        &-list {
                            padding: 0 280px 0 0 !important;
                            @media (max-width:1280px) {
                                padding: 0 180px 0 0 !important;
                            }

                            @media (max-width:680px) {
                                padding: 0 100px 0 0 !important;
                            }

                            @media (max-width:500px) {
                                padding: 0 80px 0 0 !important;
                            }

                            @media (max-width:445px) {
                                padding: 0 50px 0 0 !important;
                            }
                        }
                        &-dots { display: none !important; }
                        &-current {
                            &.slick-active {}
                        }
                    }

                    li {
                        position: relative;
                        padding: 0 20px;
                        transition: all 300ms ease-in-out;
                        -moz-transition: all 300ms ease-in-out;
                        -webkit-transition: all 300ms ease-in-out;
                        @media (max-width:500px) {
                            padding: 0 10px;
                        }
                        .relative {
                            box-shadow: 10px 10px 20px 1px rgb(0 0 0 / 15%);
                            &:before {
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                -webkit-box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.56);
                                -moz-box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.56);
                                box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.56);
                            }

                            figure {
                                height: 500px;
                                overflow: hidden;
                                @media (max-width:1600px) {
                                    height: 420px;
                                }

                                @media (max-width:1366px) {
                                    height: 370px;
                                }
                                img {
                                    z-index: -1;
                                    position: relative;
                                    top: 50%;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    -webkit-transform: translateY(-50%); 
                                    -ms-transform: translateY(-50%);
                                    transform: translateY(-50%);
                                }
                            }
                        }

                        .caption {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            padding: 35px 40px;
                            h3 {
                                font-size: 28px;
                                color: $color-white;
                                padding-bottom: 25px;
                                border-bottom: 1px solid #6d6c6b;
                            }

                            a {
                                &.btn--learnmore {
                                    padding-left: 0;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--client-testimonials {
            // padding: 65px 0 80px;
            padding: 65px 0 30px;
            @media (max-width:991px) {
                padding: 50px 0;
            }
            h2 {
                max-width: 100%;
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 25px;
                @media (max-width:991px) {
                    max-height: 100%;
                    font-size: 35px;
                    line-height: 42px;
                }

                @media (max-width:767px) {
                    font-size: 30px;
                    line-height: 38px;
                }
            }
            .client-testimonial-heading {
                position: relative;
                strong {
                    &.heading {
                        top: 0;
                    }
                }

                ul {
                    margin: 0 -10px;
                    padding: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 10px;
                        a {
                            font-size: 34px;
                            color: #162d53;
                        }

                        span {
                            &.slidercount {
                                font-size: 18px;
                                font-weight: $weight-semibold;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

            }

            .client-testimonail-slider {
                .slide {
                    p {
                        font-size: 24px;
                        line-height: 32px;
                        font-style: italic;
                        color: #9a9a9a;
                        margin-bottom: 28px;
                        @media (max-width:991px) {
                            font-size: 20px;
                            line-height: 28px;
                            margin-bottom: 20px;
                        }

                        @media (max-width:767px) {
                            font-size: 18px;
                            line-height: 26px;
                            margin-bottom: 10px;
                        }
                    }
                    span {
                        display: block;
                        font-size: 18px;
                        font-weight: $weight-semibold;
                        color: $color-black;
                        &.position {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        &--clients {
            h2 {
                z-index: 1;
                position: relative;
                padding: 0 40px;
                bottom: -22px;
                font-size: 28px;
                font-weight: 900;
                background: $color-white;
                display: inline-block;
                @media (max-width:767px) {
                    bottom: initial;
                    font-size: 22px;
                }
                
            }

            // CLIENTS LOGO 
            
            .clients-logo {
                border-top: 2px solid #174e84;
                padding: 100px 0 80px;
                @media (max-width:991px) {
                    padding: 20px 0;
                }

                @media (max-width:767px) {
                    border-top: none;
                }
                ul {
                    font-size: 0;
                    margin: 0 -20px;
                    padding: 0;
                    @media (max-width:640px) {
                        text-align: center;
                    }
                    li {
                        display: inline-block;
                        width: 20%;
                        padding: 0 20px;
                        vertical-align: middle;
                        @media (max-width:640px) {
                            width: 33.33%;
                            margin-bottom: 20px;
                        }

                        @media (max-width:480px) {
                            width: 50%;
                        }
                    }
                }
            }
        }

        &--safety-first-section {
            padding-bottom: 65px;
            @media (max-width:767px) {
                padding-bottom: 45px;
            }
            
            &__content {
                background-position: left !important;
                // @media (max-width:567px) {
                //     background-position: right !important;
                // }
                .d-flex {
                    min-height: 280px;
                    padding-left: 50px;
                    align-items: center;
                    @media (max-width:767px) {
                        padding-left: 15px;
                    }

                    @media (max-width:567px) {
                        display: block !important;
                        text-align: center;
                        padding: 60px 0;
                        min-height: auto;
                    }
                    
                }
                h2 {
                    max-width: 250px;
                    font-family: $font-primary;
                    font-weight: 900;
                    font-size: 60px;
                    color: $color-white;
                    @media (max-width:991px) {
                        font-size: 50px;
                    }
                    @media (max-width:767px) {
                        font-size: 30px;
                        margin-right: 20px;
                    }

                    @media (max-width:567px) {
                        margin: 0 auto 20px;
                    }

                   
                }

                a {
                    &.btn {
                        background-color: transparent;
                        border: 2px solid $color-white;
                        color: $color-white;
                        &:hover {
                            background-color: $color-white;
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }


}