.page {
    &--news {
        .section {
            &--list-of-events {
                padding: 100px 0 40px;
                @media(max-width:991px) {
                    padding: 50px 0 30px;
                }
                .lastest-updates {
                    position: relative;
                    strong {
                        &.heading {
                            top: 0;
                        }
                    }

                    .recent-post {
                        &.new {
                            display: flex;
                            margin-bottom: 85px;
                            @media(max-width:767px) {
                                display: block;
                                margin-bottom: 30px;
                            }
                            .floatLeft {
                                width: 58%;
                                flex-basis: 58%;
                                box-shadow: 7.88px 6.157px 20px 0px rgba(0, 0, 0, 0.15);
                                @media(max-width:1080px) {
                                    width: 50%;
                                    flex-basis: 50%;
                                }

                                @media(max-width:767px) {
                                    width: 100%;
                                    min-height: 350px;
                                }
                            }
                            .floatRight {
                                width: 42%;
                                flex-basis: 42%;
                                @media(max-width:1080px) {
                                    width: 50%;
                                    flex-basis: 50%;
                                }

                                @media(max-width:767px) {
                                    width: 100%;
                                    flex-basis: 100%;
                                }
                                .news_text {
                                    padding: 80px 45px 50px;
                                    background-color: $color-white;
                                    @media(max-width:991px) {
                                        padding: 40px 30px 30px;

                                    }
                                    
                                    h2 {
                                        font-weight: $weight-bold;
                                        text-transform: initial;
                                        @media(max-width:1080px) {
                                            font-size: 30px;
                                        }

                                        @media(max-width:767px) {
                                            font-size: 24px;
                                        }
                                    }
                                    span {
                                        display: block;
                                        &.category {
                                            font-weight: 18px;
                                            font-weight: $weight-semibold;
                                        }
        
                                        &.date {
                                            font-size: 16px;
                                            font-weight: $weight-semibold;
                                            color: #9a9a9a;
                                            margin-bottom: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .list-of-news {
                    &--item {
                        margin-bottom: 60px;
                        @media(max-width:991px) {
                            margin-bottom: 30px;
                        }
                        a {
                            display: block;
                            @include transition(300ms);
                            &:hover {
                                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
                                figure {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: #174e84;
                                        opacity: .5;
                                        @include transition(300ms);
                                    }
                                }

                                h2 {
                                    color: #174e84;
                                    
                                }
                            }
                        }
                        figure {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            @include transition(300ms);
                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        &_text {
                            padding: 40px;
                            background-color: $color-white;
                            @media(max-width:767px) {
                                padding: 20px;
                            }
                            h2 {
                                font-size: 26px;
                                font-weight: $weight-bold;
                                color: $color-black;
                                text-transform: initial;
                                @include transition(300ms);
                                @media(max-width:991px) {
                                    font-size: 24px;
                                }

                                @media(max-width:767px) {
                                    font-size: 22px;
                                }
                            }

                            span {
                                display: block;
                                &.category {
                                    font-weight: 18px;
                                    font-weight: $weight-semibold;
                                }

                                &.date {
                                    font-size: 16px;
                                    font-weight: $weight-semibold;
                                    color: #9a9a9a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

