.page {
    &--news-details {
        
        .section {
            &--news-details {
                padding: 110px 0;
                &--content {
                    position: relative;
                    width: 65%;
                    padding-right: 30px;
                    @media(max-width:991px) {
                        width: 100%;
                        padding-right: 0px;
                    }
                    strong {
                        &.heading {
                            top: 0;
                        }
                    }
                    h1 {
                        font-weight: $weight-bold;
                        text-transform: uppercase;
                        @media(max-width:1080px) {
                            font-size: 40px;
                        }

                        @media(max-width:991px) {
                            font-size: 35px;
                        }

                        @media(max-width:767px) {
                            font-size: 30px;
                        }
                    }

                    span {
                        &.category {
                            display: inline-block;
                            font-size: 20px;
                            font-weight: $weight-bold;
                            text-transform: uppercase;
                            padding-right: 15px;
                            margin-bottom: 5px;
                            @media(max-width:1080px) {
                                font-size: 18px;
                            }
    
                            @media(max-width:991px) {
                                font-size: 16px;
                            }
    
                        }

                        &.date {
                            font-size: 20px;
                            text-transform: uppercase;
                            color: #9a9a9a;
                            @media(max-width:1080px) {
                                font-size: 18px;
                            }
    
                            @media(max-width:991px) {
                                font-size: 16px;
                            }
                        }

                        &.website-link {
                            display: block;
                            font-size: 16px;
                            color: #174e84;
                            margin-bottom: 25px;
                            @media(max-width:991px) {
                                font-size: 14px;
                            }
                        }
                    }

                    article {
                        h1, h2 ,h3, h4, h5, h6 {
                            font-weight: $weight-bold;
                        }
                        figure {
                            margin-bottom: 40px;
                            width: 100%;
                            img {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }
                        h3 {
                            margin-bottom: 40px;
                            @media (max-width:991px) {
                                margin-bottom: 20px;
                            }
                        }
                        p, ul, ol{
                            color: #9a9a9a;
                            margin-bottom: 15px;
                        }



                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                    }
                }

                &--sidebar {
                    width: 35%;
                    padding: 30px 22px 5px;
                    background-color: $color-white;
                    @media(max-width:991px) {
                        width: 100%;
                    }
                    .other-news {
                        h3 {
                            position: relative;
                            display: inline-block;
                            font-size: 18px;
                            font-weight: $weight-bold;
                            text-transform: uppercase;
                            margin-bottom: 26px;
                            
                            &:before {
                                content: "";
                                position: absolute;
                                top: 10px;
                                right: -113px;
                                width: 98px;
                                height: 1px;
                                background-color: $color-primary;
                            }
                        }

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            li {
                                margin-bottom: 25px;
                                a {
                                    display: flex;
                                    &:hover {
                                        h2 {
                                            color: $color-primary;
                                        }
                                    }
                                    .img-outer {
                                        display: inline-block;
                                        min-width: 73px;
                                        width: 73px;
                                        height: 73px;
                                        img {
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                        }
                                    }

                                    .title {
                                        padding-left: 10px;
                                        h2 {
                                            font-size: 18px;
                                            font-weight: $weight-bold;
                                            @media(max-width:1080px) {
                                                font-size: 16px;
                                                font-weight: $weight-semibold;
                                            }
                    
                                            @media(max-width:767px) {
                                                font-size: 14px;
                                            }
                                        }   
                                    }
                                }
                            }
                        }

                        
                    }
                }
            }
        }
    }
}