.page {
    &--project-detail {
        // Other Section are same structure and style on service details.

       

        .gallery {
            &--heading {
                margin: 20px 0;
                h3 {
                    font-size: 32px;
                }
            }

            &--container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            columns: 3 200px;
            column-gap: 22px;
            width: 100%;
            margin: 0 auto 50px;
            &--heading {
                margin: 20px 0;
                h3 {
                    font-size: 32px;
                }
            }
            .column {
                // display: block;
                display: inline;
                // margin: 0 11px;
                // margin-right: .5vw;
                width: 100%;
                .item{
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 22px;
                    .img {
                        display: block;
                        position: relative;
                        transition: .2s;
                        width: 100%;
                        height: 100%;
                        // box-shadow: 0 0 20px -10px #000000; 
                    }
                }
            }
        }

        .section {
            &--project-cta-form {
                padding: 50px 0;
                background-color: #0e335d;
                &--content {
                    h2 {
                        @media (max-width:1440px) {
                            font-size: 28px;
                        }
                        
                        @media (max-width:1280px) {
                            font-size: 24px;
                        }
                        @media (max-width:991px) {
                            font-size: 22px;
                        }
                    }

                    strong.heading {
                        top: 8px;
                    }

                    .text {
                        h2, p {
                            color: $color-white;
                        }
                    }
                    .contact-form {
                        padding: 0;
                        @media (max-width:767px) {
                            margin: 24px auto 0;
                            .form-group {
                                margin-bottom: 0;
                            }
                        }
                        
                        label {
                            position: absolute;
                            top: 16px;
                            left: 30px;
                            font-weight: $weight-semibold;
                            @include transition(300ms);
                        }
    
                        select,
                        input,
                        textarea {
                            &:focus {
                                box-shadow: none;
                                &~label {
                                    z-index: 3;
                                    top: 2px;
                                    font-size: 12px;
                                    font-weight: normal;
                                    background-color: $color-white;
                                    padding: 0 5px;
                                    box-shadow: none;
                                } 
                            }
        
                            &:valid {
                                &~label {
                                    z-index: 3;
                                    top: 2px;
                                    font-size: 12px;
                                    background-color: $color-white;
                                    padding: 0 5px;
                                } 
                            }
                        }
                    }
                }
            }
        }
        
    }
}