.page {
    &--renewable-energy {

        .section {
            &--renewable-energy {
                &-overview {
                    padding: 100px 0 80px;
                    background-color: #f5f6f8;
                    @media (max-width:991px){
                        padding: 50px 0 40px;
                    }
                    &--content {
                        position: relative;

                        .col-lg-6 {
                            &:last-child {
                                padding-left: 35px;
                                border-left: 1px solid $color-primary;
                            }
                        }
                        strong {
                            &.heading {
                                top: 0;
                                @media(max-width:1366px) {
                                    position: relative;
                                    left: 0;
                                    top: 0;
                                    display: block;
                                    text-align: center;
                                }
                            }
                        }
                        h2 {
                            font-size: 50px;
                            font-weight: $weight-bold;
                            text-align: center;
                            line-height: 1;
                            max-width: 980px;
                            margin: 0 auto;
                            @media (max-width:1440px) {
                                font-size: 45px;
                            }
                            @media (max-width:1366px) {
                                font-size: 40px;
                            }
                        
                            @media (max-width:991px) {
                                font-size: 35px;
                                margin-bottom: 15px;
                            }
                        }

                        h3 {
                            max-width: 980px;
                            margin: 0 auto;
                            font-size: 40px;
                            font-weight: $weight-bold;
                            margin-bottom: 14px;
                            text-align: center;
                            text-transform: uppercase;
                            @media (max-width:1440px) {
                                font-size: 35px;
                            }
                            @media (max-width:1366px) {
                                font-size: 30px;
                            }
                        
                            @media (max-width:991px) {
                                font-size: 28px;
                            }
                        }

                        p {
                            font-size: 18px;
                            color: #9a9a9a;
                            text-align: center;
                            max-width: 980px;
                            margin: 0 auto;
                            @media (max-width:991px) {
                                font-size: 16px;
                            }
                        }
                        > .row{
                            max-width: 1130px;
                            margin: 0 auto;
                        }

                        .list-con{
                            margin-top: 40px;
                            &--icon{
                                background: #ffffff;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                position: relative;
                                min-height: 300px;
                                padding: 25px 0;
                                .title{
                                    font-size: 24px;
                                    color: #000000;
                                    font-weight: 700;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    z-index: 10;
                                    padding: 25px 35px;
                                    background-color: #f5f6f8;
                                    text-transform: uppercase;
                                    width: 85%;
                                    &:before {
                                        z-index: -1;
                                        content: "";
                                        width: 50px;
                                        height: 180px;
                                        position: absolute;
                                        bottom: 0;
                                        right: -50px;
                                        border-bottom: 89px solid #f5f6f8;
                                        border-right: 50px solid transparent;
                                    }
                                }
                            }
                            ul{
                                li{
                                    font-size: 18px;
                                    font-weight: 700;
                                    color: #000000;
                                    margin-bottom: 5px;
                                    &::marker{
                                        color: #0257ab;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--innovation {
                .row {
                    .col-lg-4 {
                        padding: 0 7px;
                        min-height: 510px;
                        margin-bottom: 17px;
                    }
                    @media(max-width:1200px) {
                        .col-lg-4,
                        .col-lg-8 {
                            flex: 100%;
                            max-width: 100%;
                        }

                        .col-lg-4 {
                            padding: 0 15px;
                            min-height: auto;
                        }
                    }
                }
                .overview{
                    padding: 90px 0;
                    @media(max-width:1200px) {
                        padding: 50px 0;
                    }
                    h3{
                        color: #000000;
                        font-size: 40px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    h4{
                        color: #000000;
                        font-size: 28px;
                        font-weight: 700;
                        text-transform: uppercase
                    }

                    p{
                        margin: 30px 0;
                    }
                }

                &--item {
                    position: relative;
                    min-height: 350px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include transition(300ms);
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 300ms ease-in-out;
                    }

                    .title {
                        z-index: 10;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 25px 35px;
                        background-color: #ffffff;
                        // min-width: 260px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #081222;
                        &:before {
                            z-index: -1;
                            content: "";
                            width: 50px;
                            height: 0;
                            position: absolute;
                            bottom: 0;
                            right: -50px;
                            border-bottom: 82px solid #ffffff;
                            border-right: 40px solid transparent;
                        }
                        h3{
                            font-size: 20px;
                        }
                    }

                    .view-details {
                        z-index: 2;
                        position: relative;
                        display: none;
                        font-size: 20px;
                        font-weight: $weight-semibold;
                        text-align: center;
                        text-transform: uppercase;
                        color: $color-white;
                        padding: 0 40px;
                        transition: all 300ms ease-in-out;
                        &:before {
                            content: "";
                            position: absolute;
                            top: 3px;
                            right: 0;
                            width: 20px;
                            height: 26px;
                            background-size: 20px 26px;
                            background-image: url('../../public/img/view-details_icon.png');
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }

                    &.contact-services {
                        display: block;
                        & > div {
                            padding: 85px 60px 85px 130px;
                        }

                        strong {
                            &.heading {
                                top: 96px;
                                left: 60px;
                            }
                        }
                        h3 {
                            font-size: 40px;
                            font-weight: $weight-semibold;
                            text-transform: uppercase;
                            color: $color-white;
                            margin-bottom: 30px;
                        }

                        p {
                            max-width: 390px;
                            font-size: 20px;
                            color: $color-white;
                            margin-bottom: 32px;
                        }
                        &:hover {
                            &:before {
                                z-index: -1;
                                background-color: initial;
                            }
                        }

                        .btn {
                            position: relative;
                            &-contact-us {
                                margin-right: 13px;
                                img {
                                    max-height: 25px;
                                    margin-right: 10px;
                                }
                            }
                            &-email-us {
                                img {
                                    margin-right: 10px;
                                    max-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
            &--clients {
                padding: 30px 0;
                background-position: 0 -320px;
                background-repeat: no-repeat;
                @media(max-width:991px) {
                    background-position: center;
                }

                @media(max-width:767px) {
                    background-image: initial !important;
                    background-color:#f5f6f8 !important ;
                }
                .overview{
                    padding: 90px 0;
                    @media(max-width:1200px) {
                        padding: 40px 0;
                    }

                    @media(max-width:991px) {
                        padding: 0;
                    }
                    h3{
                        color: #000000;
                        font-size: 40px;
                        font-weight: 700;
                        text-transform: uppercase;
                        @media(max-width:991px) {
                            font-size: 35px;
                        }
                    }

                    h4{
                        color: #000000;
                        font-size: 28px;
                        font-weight: 700;
                        text-transform: uppercase;
                        @media(max-width:991px) {
                            font-size: 22px;
                        }
                    }

                    p{
                        margin: 30px 0;
                        color: #9a9a9a;
                        @media(max-width:991px) {
                            margin: 10px 0;
                        }
                        &.alt{
                            margin: 0;
                        }
                        em, i {
                            font-size: 24px;
                            color: #9a9a9a;
                            margin-bottom: 20px;
                            @media(max-width:991px) {
                                font-size: 20px;
                            }
                        }
                        strong{
                            font-weight: 700;
                            color: #000000;
                            font-size: 18px;
                            @media(max-width:991px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .clients-con{
                    .title{
                        color: #000000;
                        font-size: 28px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        @media(max-width:991px) {
                            font-size: 24px;
                            margin-top: 40px;
                        }
                        &:before,&:after{
                            content:'';
                            display: block;
                            background-color: #174e84;
                            height: 1px;
                            width: 30%;
                            position: absolute;
                            @media(max-width:767px) {
                                content: initial;
                            }
                        }
                        &:before{
                            left: 0;
                        }
                        &:after{
                            right: 0;
                        }
                    }
                    .clients-icon{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 30px 0 70px;
                        margin-left: 7px;
                        .item{
                            min-height: 210px;
                            background-color: #ffffff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 20px;
                            margin-right: 7px;
                            width: calc(20% - 6px);
                            @media (max-width:767px) {
                                width: calc(33% - 6px);
                                margin-bottom: 7px;
                            }

                            @media (max-width:567px) {
                                width: calc(50% - 7px);
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                                
                        }
                    }
                }
            }
            &--projects {
                .project--lists {
                    .heading {
                        max-width: 1500px;
                        margin: 0 auto;
                        padding: 0 15px;
                        @media (max-width:991px) {
                            margin-bottom: 25px;
                        }
                        h2 {
                            display: inline-block;
                            position: relative;
                            font-size: 40px;
                            font-weight: $weight-bold;
                            margin-bottom: 35px;
                            @media (max-width:991px) {
                                margin-bottom: 0;
                                font-size: 35px;
                            }
    
                            @media (max-width:767px) {
                                font-size: 30px;
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                top: 19px;
                                right: -250px;
                                width: 210px;
                                height: 2px;
                                background-color: #0257ab;
                            }
                        }
    
                        ul {
                            z-index: 12;
                            position: relative;
                            top: 28px;
                            left: 0;
                            font-size: 0;
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            @media (max-width:991px) {
                                top: 80px;
                            }
                            li { 
                                display: inline-block;
                                a {
                                    font-size: 18px;
                                    color: $color-black;
                                    &.project-next,
                                    &.project-prev {
                                        padding: 50px 20px 20px 20px;
                                        background-color: #ebebeb;
                                    }
                                }
                            }
                        }
                    }
    
                    .project--slider {
                        padding: 0;
                        .slick {
                            &-list {
                                padding: 0 280px 0 0 !important;
                                @media (max-width:1280px) {
                                    padding: 0 180px 0 0 !important;
                                }
    
                                @media (max-width:680px) {
                                    padding: 0 100px 0 0 !important;
                                }
    
                                @media (max-width:500px) {
                                    padding: 0 80px 0 0 !important;
                                }
    
                                @media (max-width:445px) {
                                    padding: 0 50px 0 0 !important;
                                }
                            }
                            &-dots { display: none !important; }
                            &-current {
                                &.slick-active {}
                            }
                        }
    
                        li {
                            position: relative;
                            padding: 0 20px;
                            transition: all 300ms ease-in-out;
                            -moz-transition: all 300ms ease-in-out;
                            -webkit-transition: all 300ms ease-in-out;
                            @media (max-width:500px) {
                                padding: 0 10px;
                            }
                            .relative {
                                box-shadow: 10px 10px 20px 1px rgb(0 0 0 / 15%);
                                &:before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    -webkit-box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.56);
                                    -moz-box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.56);
                                    box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.56);
                                }
    
                                figure {
                                    height: 500px;
                                    overflow: hidden;
                                    @media (max-width:1600px) {
                                        height: 420px;
                                    }
    
                                    @media (max-width:1366px) {
                                        height: 370px;
                                    }
                                    img {
                                        z-index: -1;
                                        position: relative;
                                        top: 50%;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        -webkit-transform: translateY(-50%); 
                                        -ms-transform: translateY(-50%);
                                        transform: translateY(-50%);
                                    }
                                }
                            }
    
                            .caption {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                padding: 35px 40px;
                                h3 {
                                    font-size: 28px;
                                    color: $color-white;
                                    padding-bottom: 25px;
                                    border-bottom: 1px solid #6d6c6b;
                                }
    
                                a {
                                    &.btn--learnmore {
                                        padding-left: 0;
                                        padding-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}