.page {
    &--services-detail {
        background-color: #f5f6f8;
        .bg{
            background-image: url("../../public/img/service-detail-bg.jpg");
        }

        .section {
            &--services-detail-banner {
                padding-top: 40px;
                padding-bottom: 20px;
                .banner-img{
                    width: 100%;
                    height: 500px;
                    display: block;
                    margin-top: 10px;
                    box-shadow: 0 0 20px -10px #000000;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            &--services-overview {
                padding: 20px 0 0px;
                position: relative;
                &--content {
                    position: relative;
                    padding-bottom: 30px;
                    border-bottom: 1px solid #c9d4e1;

                    strong {
                        &.heading {
                            top: 0;
                        }
                    }
                    h2 {
                        // max-width: 645px;
                        font-size: 50px;
                        font-weight: $weight-bold;
                        margin-bottom: 20px;
                        @media (max-width:1440px) {
                            font-size: 40px;
                        }
                        
                        @media (max-width:1280px) {
                            font-size: 36px;
                        }
                        @media (max-width:991px) {
                            font-size: 30px;
                        }
                    }

                    h4 {
                        font-size: 26px;
                        font-weight: $weight-bold;
                        margin-bottom: 14px;
                        @media (max-width:1440px) {
                            font-size: 22px;
                        }
                    }

                    p {
                        font-size: 18px;
                        color: #9a9a9a;
                        @media (max-width:991px) {
                            font-size: 16px;
                        }
                    }
                }
            }
            &--services-detail-function{
                padding-bottom: 30px;
                .content{
                    padding-top: 30px;
                    border-top: 1px solid #abbed1;
                    .row {
                        .col-md-4 {
                            @media (max-width:767px) {
                                text-align: center;
                                margin-bottom: 24px;
                            }
                        }
                    }
                    h2{
                        font-size: 40px;
                        font-weight: bold;
                        margin-bottom: 0;
                        @media (max-width:1440px) {
                            font-size: 38px;
                        }
                        
                        @media (max-width:1280px) {
                            font-size: 36px;
                        }
                        @media (max-width:991px) {
                            font-size: 30px;
                        }
                    }
                    h3{
                        font-size: 26px;
                        font-weight: bold;
                        @media (max-width:1440px) {
                            font-size: 24px;
                        }
                        
                        @media (max-width:1280px) {
                            font-size: 22px;
                        }
                        @media (max-width:991px) {
                            font-size: 20px;
                        }
                    }
                    p{
                        color: #9a9a9a;
                        margin-top: 20px;
                        text-align: justify;
                    }
                    ul{
                        list-style-type: none;
                        margin: 50px 0;
                        padding:0;
                        li{
                            position: relative;
                            padding-left: 50px;
                            // width: 45%;
                            // display: inline-block;
                            font-size: 18px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #000000;
                            margin-bottom: 1rem;
                            &:before{
                                content: "";
                                position: relative;
                                display: block;
                                background-image: url('../../public/img/check-icon.png');
                                width: 24px;
                                height: 18px;
                                position: absolute;
                                top: 5px;
                                left: 0;
                            }
                            p{
                                font-size: 18px;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: #000000;
                                margin-top: 0;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .btn--primary{
                        margin-right: 20px;
                    }
                }
            }

            &--services-projects-related{
                // margin-left: 17vw;
                padding: 40px 0;
                .project--lists {
                    max-width: 1550px;
                    margin-left: auto;
                    .heading {
                        max-width: 1500px;
                        margin: 0 auto;
                        padding: 0 15px;;
                        h2 {
                            display: inline-block;
                            position: relative;
                            font-size: 40px;
                            font-weight: $weight-bold;
                            margin-bottom: 35px;
                            @media (max-width:1280px) {
                                font-size: 36px;
                            }
                            @media (max-width:991px) {
                                font-size: 30px;
                            }
                            @media (max-width:767px) {
                                font-size: 28px;
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                top: 19px;
                                right: -250px;
                                width: 210px;
                                height: 2px;
                                background-color: #0257ab;
                            }
                        }
    
                        ul {
                            z-index: 12;
                            position: relative;
                            top: 28px;
                            left: 0;
                            font-size: 0;
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            li { 
                                display: inline-block;
                                a {
                                    font-size: 18px;
                                    color: $color-black;
                                    &.project-next,
                                    &.project-prev {
                                        padding: 50px 20px 20px 20px;
                                        background-color: #ebebeb;
                                    }
                                }
                            }
                        }
                    }
    
                    .related-project--slider {
                        padding: 0;
                        list-style: none;
                        .slick {
                            &-list { padding: 0 70px 0 0 !important; }
                            &-dots { display: none !important; }
                            &-current {
                                &.slick-active {}
                            }
                        }
    
                        li {
                            position: relative;
                            padding: 0 12px;
                            transition: all 300ms ease-in-out;
                            -moz-transition: all 300ms ease-in-out;
                            -webkit-transition: all 300ms ease-in-out;
                            .relative {
                                display: block;
                                &:before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    -webkit-box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.20);
                                    -moz-box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.20);
                                    box-shadow: inset 0px -169px 38px 16px rgba(0,0,0,0.20);
                                }
    
                                figure {
                                    height: 300px;
                                    overflow: hidden;
                                    // box-shadow: 10px 10px 20px 1px rgb(0 0 0 / 15%);

                                    img {
                                        z-index: -1;
                                        position: relative;
                                        top: 50%;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        -webkit-transform: translateY(-50%); 
                                        -ms-transform: translateY(-50%);
                                        transform: translateY(-50%);
                                    }
                                }
                            }
    
                            .caption {
                                z-index: 2;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                padding: 35px 40px;
                                h3 {
                                    font-size: 28px;
                                    color: $color-white;

                                    // padding-bottom: 25px;
                                    // border-bottom: 1px solid #6d6c6b;
                                }
    
                                a {
                                    &.btn--learnmore {
                                        padding-left: 0;
                                        padding-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--services-detail-pagination{
                background-color: #ffffff;
                padding: 40px 0 40px;
                box-shadow: 0 0 20px -10px #000000;
                .content{
                    display: flex;
                    justify-content: space-between;
                    @media(max-width:640px) {
                        display: block;
                    }
                    .column-left{
                        // display: flex;
                        // flex-direction: column;
                        text-align: left;
                        @media(max-width:767px) {
                            display: block;
                        }
                        @media(max-width:640px) {
                            margin-bottom: 20px;
                        }
                    }
                    .column-right{
                        // display: flex;
                        // flex-direction: column;
                        text-align: right;
                        @media(max-width:767px) {
                            text-align: right;
                            display: block;
                            .btn--gray {
                                margin-left: auto;
                            }
                        }
                    }
                    .btn--back, .btn--next{
                        font-size: 26px;
                        display: flex;
                        @media (max-width:991px) {
                            font-size: 22px;
                        }

                        @media (max-width:767px) {
                            font-size: 18px;
                        }

                        @media (max-width:640px) {
                            display: block;
                        }
                        &:before, &:after{
                            height: 23px;
                            width: 18px;
                            background-size: 18px 23px;
                            margin-top:4px;
                        }
                    }
                    .btn--back {
                        @media (max-width:640px) {
                           text-align: left;
                        }
                    }

                    .btn--next {
                        @media (max-width:640px) {
                           text-align: right;
                        }
                    }
                    .btn--gray{
                        margin:25px 40px 0;
                        width: 150px;
                        @media (max-width:991px) {
                            margin:8px 40px 0;
                        }

                        @media (max-width:767px) {
                            padding: 8px 25px;
                            font-size: 14px;
                        }

                        @media(max-width:767px) {
                            display: block;
                            width: 110px;
                        }
                    }
                }
            }
        }
    }
}