.page {
    &--services {

        .section {
            &--services {
                &-overview {
                    padding: 100px 0 80px;
                    background-color: #f5f6f8;
                    @media (max-width:991px) {
                        padding: 50px 0;
                    }
                    &--content {
                        position: relative;

                        .col-lg-6 {
                            &:last-child {
                                padding-left: 35px;
                                border-left: 1px solid $color-primary;
                                @media (max-width:991px) {
                                    border-left: none;
                                    padding-left: 15px;
                                }
                            }
                        }
                        strong {
                            &.heading {
                                top: 0;
                            }
                        }
                        h2 {
                            max-width: 645px;
                            font-size: 50px;
                            font-weight: $weight-bold;
                            margin-bottom: 28px;
                            @media (max-width:1440px) {
                                font-size: 40px;
                            }

                            @media (max-width:991px) {
                                font-size: 35px;
                                margin-bottom: 12px;
                            }

                            @media (max-width:767px) {
                                font-size: 30px;
                            }
                        }

                        h4 {
                            font-size: 26px;
                            font-weight: $weight-bold;
                            margin-bottom: 14px;
                            @media (max-width:1440px) {
                                font-size: 22px;
                            }

                            @media (max-width:767px) {
                                font-size: 20px;
                            }
                        }

                        p {
                            font-size: 18px;
                            color: #9a9a9a;
                            @media (max-width:991px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            &--list-of-services {
                .row {
                    margin: 0 -7px;
                    .col-lg-4 {
                        padding: 0 7px;
                        min-height: 510px;
                        margin-bottom: 17px;
                        @media (max-width:1280px) {
                            min-height: 400px;
                        }
                        @media (max-width:767px) {
                            min-height: 350px;
                        }

                        &.col-md-12 {
                            @media (max-width:1240px) {
                                flex: 0 0 100%;
                                max-width: 100%;
                                text-align: center;
                                p {
                                    margin-inline: auto;
                                }
                            }
                        }
                    }
                }

                &--item {
                    position: relative;
                    min-height: 510px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include transition(300ms);
                    @media (max-width:1280px) {
                        min-height: 400px;
                    }

                    @media (max-width:767px) {
                        min-height: 350px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 300ms ease-in-out;
                    }
                    &:hover {
                        &:before {
                            background-color: rgba(2, 87, 171, 0.7);
                        }
                        .view-details {
                            display: block;
                        }
                    }

                    .title {
                        z-index: 10;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 25px 35px;
                        background-color: #ffffff;
                        // min-width: 260px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #081222;
                        @media (max-width:1280px) {
                            padding: 12px 20px;
                        }

                        @media(max-width: 767px) {
                            padding: 20px;
                        }

                        &:before {
                            z-index: -1;
                            content: "";
                            width: 50px;
                            height: 0;
                            position: absolute;
                            bottom: 0;
                            right: -50px;
                            border-bottom: 89px solid #ffffff;
                            border-right: 50px solid transparent;
                            @media (max-width:1280px) {
                                border-bottom: 50px solid #ffffff;
                            }
                            @media(max-width: 767px) {
                                border-bottom: 60px solid #ffffff;
                            }
                        }

                        h3 {
                            @media (max-width:1280px) {
                                font-size: 22px;
                                margin: 0;
                            }
                            @media (max-width:767px) {
                                font-size: 18px;
                            }
                        }
                    }

                    .view-details {
                        z-index: 2;
                        position: relative;
                        display: none;
                        font-size: 20px;
                        font-weight: $weight-semibold;
                        text-align: center;
                        text-transform: uppercase;
                        color: $color-white;
                        padding: 0 40px;
                        transition: all 300ms ease-in-out;
                        @media (max-width:1280px) {
                            font-size: 18px;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            top: 3px;
                            right: 0;
                            width: 20px;
                            height: 26px;
                            background-size: 20px 26px;
                            background-image: url('../../public/img/view-details_icon.png');
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }

                    &.contact-services {
                        display: block;
                        & > div {
                            padding: 85px 60px 85px 130px;
                            @media(max-width:1366px) {
                                padding: 40px 30px;
                            }
                            @media(max-width: 567px) {
                                padding: 85px 40px 85px 40px;

                            }
                        }

                        strong {
                            &.heading {
                                top: 96px;
                                left: 60px;
                                @media(max-width:1366px) {
                                    position: relative;
                                    left: 0;
                                    top: 0;
                                }
                                @media(max-width: 567px) {
                                    display: none;
                                }
                            }
                        }
                        h3 {
                            font-size: 40px;
                            font-weight: $weight-semibold;
                            text-transform: uppercase;
                            color: $color-white;
                            margin-bottom: 30px;
                            @media (max-width:991px) {
                                font-size: 30px;
                                margin-bottom: 20px;
                            }
                        }

                        p {
                            max-width: 390px;
                            font-size: 20px;
                            color: $color-white;
                            margin-bottom: 32px;
                            @media (max-width:991px) {
                                font-size: 18px;
                                margin-bottom: 12px;
                            }
                        }
                        &:hover {
                            &:before {
                                z-index: -1;
                                background-color: initial;
                            }
                        }

                        .btn {
                            position: relative;
                            &-contact-us {
                                margin-right: 13px;
                                margin-bottom: 10px;
                                @media(max-width:405px) {
                                    margin-right: 0;
                                }
                                img {
                                    max-height: 25px;
                                    margin-right: 10px;
                                }
                            }
                            &-email-us {
                                margin-bottom: 10px;
                                img {
                                    margin-right: 10px;
                                    max-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}