.page {
    &--team-detail {
        background-color: #f5f6f8;
        .bg{
            background-image: url("../../public/img/service-detail-bg.jpg");
        }

        .team-member-box{
            position: relative;
            display: block;
            &.top-spacing{
                margin-top: 60px;
                @media(max-width:500px) {
                    margin: 0;
                }
            }
            .overlay{
                opacity: 0;
                background: rgba(2, 87, 171, 0.6);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all .3s ease;
                h3,p{
                    color: #ffffff;
                }
                h3{
                    transform: rotate(-90deg);
                    transform-origin: left;
                    position: absolute;
                    bottom: 0;
                    left: 30px;
                }
                p{
                    transform: rotate(-90deg);
                    transform-origin: left;
                    position: absolute;
                    bottom: -3px;
                    left: 60px;
                    width: 100%;
                    text-transform: uppercase;
                }
            }
            &:hover{
                .overlay{
                    opacity: 1;
                }
            }
        }

        .section {
            &--team-overview {
                padding: 20px 0 0px;
                position: relative;
                margin-top: 20px;
                .btn--back{
                    margin-bottom: 10px;
                }
                &--content {
                    position: relative;
                    padding-bottom: 30px;
                    .profile-container {
                        @media(max-width:767px) {
                            text-align: center;
                            img {
                                max-width: 350px;
                                height: auto;
                                margin: 20px auto;
                            }
                        }

                        @media(max-width: 400px) {
                            img {
                                max-width: 100%;
                            }
                        }
                    }
                    
                    strong {
                        &.heading {
                            top: 0;
                        }
                    }
                    .name {
                        font-size: 50px;
                        font-weight: $weight-bold;
                        margin-bottom: 0;
                        line-height: 1;
                        @media(max-width:1080px) {
                            font-size: 40px;
                        }

                        @media(max-width:991px) {
                            max-width: 100%;
                            font-size: 30px;
                        }

                        @media(max-width:767px) {
                            font-size: 24px;
                        }
                    }

                    .position {
                        font-size: 26px;
                        font-weight: $weight-bold;
                        margin-bottom: 20px;
                        @media(max-width:1080px) {
                            font-size: 24px;
                            margin-bottom: 10px;
                        }

                        @media(max-width:991px) {
                            font-size: 22px;
                        }

                        @media(max-width:767px) {
                            font-size: 20px;
                        }
                    }

                    p {
                        font-size: 18px;
                        color: #9a9a9a;
                        @media(max-width:991px) {
                            font-size: 16px;
                        }
                    }
                    hr{
                        border-top: 1px solid #174e84;
                        margin: 50px 0 30px;
                    }

                    .personal-info{
                        font-size: 26px;
                        font-weight: $weight-bold;
                        margin-bottom: 10px;
                        @media(max-width:991px) {
                            font-size: 22px;
                        }
                    }
                    
                    .info-box{
                        display: flex;
                        margin-bottom: 5px;
                        .column{
                            width: calc(100% - 170px);
                            @media(max-width:640px) {
                                width: calc(100% - 130px);
                            }
                            &:first-child{
                                width: 170px;
                                @media(max-width:640px) {
                                    width: 130px;
                                }
                                p{
                                    text-transform: uppercase;
                                    font-weight: 600;
                                }
                                
                            }
                            p{
                                color: #000000;
                                font-size: 18px;
                                margin-bottom: 5px;
                                @media(max-width:991px) {
                                    font-size: 16px;
                                }
                                cite{
                                    display: inline-block;
                                }
                            }
                            cite{
                                color: #9a9a9a;
                                font-style: normal;
                                display: block;
                            }
                        }
                    }
                }
            }
            &--team-member{
                margin-top: 50px;
                margin-bottom: 100px;
                @media(max-width:991px) {
                    margin-bottom: 50px;
                }
                .wrapper {
                    max-width: 1515px;
                }

                .heading {
                    h2 {
                        display: inline-block;
                        position: relative;
                        font-size: 40px;
                        font-weight: bold;
                        margin-bottom: 35px;
                        @media(max-width:991px) {
                            font-size: 35px;
                        }

                        @media(max-width:767px) {
                            font-size: 30px;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            top: 19px;
                            right: -250px;
                            width: 210px;
                            height: 2px;
                            background-color: #0257ab;
                            @media(max-width:991px) {
                                width: 180px;
                            }
    
                            @media(max-width:767px) {
                                width: 140px;
                            }
                        }
                    }
                    ul {
                        margin: 0 -10px;
                        padding: 0;
                        list-style: none;
                        li {
                            display: inline-block;
                            vertical-align: middle;
                            padding: 0 10px;
                            a {
                                font-size: 34px;
                                color: #162d53;
                            }
    
                            span {
                                &.slidercount {
                                    font-size: 18px;
                                    font-weight: $weight-semibold;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .team-member-box {
                    padding: 0 15px;
                    figure {
                        height: 515px;
                        margin: 0;
                        @media(max-width:1280px) {
                            height: 400px;
                        }

                        @media(max-width:500px) {
                            height: 400px;
                            width: 280px;
                            margin: 0 auto;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                }
                .team-member-slider {
                    .slick-slide {
                        transition: all 300ms ease-in-out;
                        &:nth-child(even) {
                            a {
                                margin-top: 60px;
                                transition: all 300ms ease-in-out;
                                @media(max-width:500px) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}