.page {
    &--team {
        background-color: #f5f6f8;
        .bg{
            background-image: url('../../public/img/service-detail-bg.jpg');
        }

        .row.team-list {
            @media(max-width:991px) {
                max-width: 600px;
                margin: 0 auto;
            }

            // @media(max-width:575px) {
            //     .team--item {
            //         .team-member-box.top-spacing {
            //             margin-top: 0;
            //         }
            //     }
            // }

            &.featured-team {
                @media(max-width:991px) {
                    margin-top: 30px;
                }
            }
        }

        .team-member-box{
            position: relative;
            display: block;
            height: 390px;
            @media(max-width:991px) {
                width: 270px;
                margin: 0 auto;
            }

            @media(max-width:640px) {
                width: 250px;
            }

            @media(max-width:575px) {
                width: 270px;
                margin-bottom: 20px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.top-spacing{
                margin-top: 60px;
                @media(max-width:575px) {
                    margin-top: 0px;
                }
            }
            .overlay{
                opacity: 0;
                background: rgba(2, 87, 171, 0.6);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all .3s ease;
                h3,p{
                    color: #ffffff;
                }
                h3{
                    transform: rotate(-90deg);
                    transform-origin: left;
                    position: absolute;
                    bottom: 0;
                    left: 30px;
                }
                p{
                    transform: rotate(-90deg);
                    transform-origin: left;
                    position: absolute;
                    bottom: -3px;
                    left: 60px;
                    width: 100%;
                    text-transform: uppercase;
                }
            }
            &:hover{
                .overlay{
                    opacity: 1;
                }
            }
        }

        .section {
            &--team-overview {
                padding: 20px 0 0px;
                position: relative;
                margin-top: 40px;
                &--content {
                    position: relative;
                    padding-bottom: 30px;

                    strong {
                        &.heading {
                            top: 0;
                        }
                    }
                    h2 {
                        max-width: 645px;
                        font-size: 50px;
                        font-weight: $weight-bold;
                        margin-bottom: 20px;
                        @media(max-width:1080px) {
                            font-size: 40px;
                            margin-bottom: 8px;
                        }

                        @media(max-width:991px) {
                            max-width: 100%;
                            font-size: 30px;
                        }

                        @media(max-width:767px) {
                            font-size: 24px;
                        }
                    }

                    h4 {
                        font-size: 26px;
                        font-weight: $weight-bold;
                        margin-bottom: 14px;
                        @media(max-width:991px) {
                            font-size: 22px;
                            margin-bottom: 10px;
                        }

                        @media(max-width:767px) {
                            font-size: 18px;
                        }
                    }

                    p {
                        font-size: 18px;
                        color: #9a9a9a;
                        @media(max-width:991px) {
                            font-size: 16px;
                        }
                    }
                }
            }
            &--team-member{
                margin-top: 50px;
                margin-bottom: 100px;
            }
        }
    }
}